* {
margin: 0;
padding: 0}

.section_header {
background-color: #000;
color: #ffffff;
}

.section_home {
background-color: #000;
color: #ffffff;

}

.card_fylo_image{
width: 400px;

}

.card_techblog_image{
width: 400px;

}

.card_welldoing_image {
width: 400px;
}