* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section_header {
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 200px 20px;

}

.nav_list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}

.nav_link {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;

}




.section_home {
    background-color: #000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    gap: 10px;
}

.home_title {
    font-size: 90px;
    font-family: "League Gothic", sans-serif;
    text-align: center;
}

.home_subtitle {
    font-size: 32px;
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.section_about {
    padding: 60px 40px 60px 40px;
}

.about_title {
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    margin-bottom: 18px;
}

.about_description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

.skills_title {
    margin: 70px 0px 20px 0px;
    font-family: "League Spartan", sans-serif;
    font-size: 24px;

}

.skills {
    display: flex;
    gap: 90px;
}

.skills_list_first {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.item_skills_first {
    display: flex;
    gap: 5px;
}

.skills_list_second {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item_skills_second {
    display: flex;
    gap: 5px;
}

.descriptcion_skill {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.section_proyects {
    margin: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.card_proyect {
    padding: 30px 10px;

}
.card_image {
    width: 300px;
    margin-top: 40px;
    box-shadow: 2px 0.5px 15px #9A879D;

}

.card_title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
}


.card_description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.form_contacto {
    margin: 0px 30px 40px 30px;
}


.title_contacto {
margin-bottom: 20px;
font-family: "League Spartan", sans-serif;
    font-size: 24px;
}

.div_general_inputs_contacto {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.div_individual_inputs_contacto {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 20px;
}

.input {
    border: none;
    border-bottom: 1px solid #000;
    width: 300px;
    margin-top: 10px;

}

.label_input {
font-family: "League Spartan", sans-serif;
    font-size: 16px;

}

input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}




.btn_contact {
    margin-top: 50px;
    border: none;
    padding: 16px 60px;
    background-color: #D9D9D9;
}

.div_btn {
display: flex;
justify-content: center;

}


.section_footer {
    background-color: #000;
    color: #ffffff;
    
}

.section_footer {
    padding: 60px 20px 40px 20px;

}

.nav_list_footer {
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}

.nav_link_footer {
    color: #ffffff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.section_contacto_footer {
    margin: 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info_contact {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.links_profile_footer {
    text-align: center;
}

