:root {
    --primary: #ffffff;
    --secondary: #a7adb4;
    --tertiary: #000000;
    --lightBlue: #ECF6FC;
    --red:#DF2131;
    --green: #008000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    display: grid;
    grid-template-columns: 0.7fr 4fr;
    column-gap: 10px;
    width: 100vw;
    height: 100vh;
}

.chat-list_container {
    padding: 20px 10px;
    border-right: var(--secondary) solid 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.chat-list_search {
    padding: 10px 80px 10px 10px;
    border-radius: 5px;
    border: var(--secondary) solid 1px;
    width: 100%;
    font-size: 14px;
    color: var(--tertiary);
}
.chat-list_search::placeholder {
    color: var(--secondary);
}
.chat-list_search:focus {
  border: 1px solid var(--tertiary);
  outline: none;
}


.chat-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding: 10px 20px ;
}

.chat-list_content {
    display: flex;
    gap: 10px;
}

.chat-list_item {
    list-style-type: none;
}

.chat-list_content {
    display: flex;
    align-items: center;
}

.chat-list_name , .chat_header_user_name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1.2px;
}

.chat-list_text {
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
}

.chat-list_status{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
}

.offline::before {
    content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--red);
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.online::before {
    content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--green);
  border-radius: 50%;
  margin-right: 6px;
  vertical-align: middle;
}

.chat-list_img {
    width: 50px;
}


.chat_header {
display: flex;
justify-content: space-between;
border-bottom: var(--secondary) solid 1px;
padding: 14px;
}

.chat_header_user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat_header_user_image {
    width: 50px;
}

.chat_header_user_text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat_header_user_status {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.chat_header_icons_list {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chat_header_icons_item {
    list-style-type: none;
}

.fa-gear {
    color: var(--secondary);
    font-size: 20px;
}

.fa-question {
    color: var(--red);
    font-size: 20px;
}

.fa-images {
font-size: 20px;
}

.fa-camera {
    font-size: 20px;
}


.chat_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: var(--secondary) solid 1px;
    padding: 10px 10px 550px 10px;
}


.chat_content_message_outcomming {
    display: flex;
    flex-direction: column;
    background-color: var(--lightBlue);
    width: 40%;
    border-radius: 10px;
    align-self: flex-end;
    padding: 10px;
    gap:4px;

}

.chat_content_message {
    font-size: 18px ;
    font-weight: 600;
}

.chat_content_message_status {
font-size: 14px;
color: var(--secondary);
font-weight: 400;
}